
<div class="container">

    <div class="flip-card card" style="width:500px;">
        <div class="flip-card-inner">
            <div class="flip-card-front row">
                <img class="col-sm-6" src="assets/Robocin_Big.png" alt="Robocin_logo" style="width:200px;height:200px;">
                <div class="col-sm-6 text-white">
                    <h1>Robocin</h1> 
                    <p>Rol:</p>
                </div>
            </div>

            <div class="flip-card-back">
                <h1>
                    Robocin
                </h1>
                <h2 class="h2-text">
                    Caracteristicas principales:
                </h2>
                <ul>                                      
                    <li>Sistema de guardado.</li>
                    <li>Cambio de Idioma.</li>
                    <li>Menu de opciones.</li>
                    <li>Progreso de niveles.</li>
                </ul>
                <div class="down-things">

                </div>
            </div>

        </div>  
    </div>

</div>
