
<div class="container">
    <div class="floating-text-block">
        <p class="text-start">Me crié con videojuegos desde pequeño 
            y siempre me gusto la forma en la que te transportan a un mundo distinto y te sumergen en ellos.</p>
        <p class="text-end">Conforme fui haciendome más mayor empecé a querer profundizar más en el desarrollo de los mismos y aprender a como hacerlos.</p>
    </div>
    <div class="floating-text-block-2">
        <p class="fw-bold">Estudios:</p>
        <p class="text-start"><strong>- Bachillerato. </strong>é y terminé el bachillerato tecnológico.</p>
        <p class="text-start"><strong>- DAM. </strong> terminar bachillerato me apunté al grado superior de desarrollo de aplicaciones multiplataforma
            donde aprendí a programar.
        </p>
        <p class="text-start"><strong>- Curso de especialización de Videojuegos.</strong> Ahora mismo estoy cursando este curso de especialización con idea
            de aprender más sobre el desarrollo de videojuegos.
        </p>
    </div>

</div>
