

<div class="container mt-5">
    <div class="row">
        <!-- -----------------
            This is the card
            ------------------ -->
        <a target="_blank" rel="bookmark" href="https://github.com/RBEmilio/Robocin.git">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="content">
                        <div class="top">
                            <p>Robocin</p>
                        </div>
                    <div class="middle">
                        <img src="assets/Robocin_Big.png" />
                    </div>
                    <div class="bottom">
                        <p>
                            Robocin es un juego plataformas 2D, con archivos de guardado.          
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!-- -----------------
            Here end the card
            ------------------ -->

            <a target="_blank" rel="bookmark" href="https://github.com/RBEmilio/Robocin.git">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="content">
                                <div class="top">
                                    <p>Robocin</p>
                                </div>
                            <div class="middle">
                                <img src="assets/Robocin_Big.png" />
                            </div>
                            <div class="bottom">
                                <p>
                                    Robocin es un juego plataformas 2D, con archivos de guardado.          
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            
    </div>
</div>
